<html>
    <head>
        <title>BCFUG Leveling up: Testing Tools for the Rest of Us</title>
    </head>
    <body>
        This demo is a fictitious (and admittedly contrived) app that pull a message out of a db, pulls a person record
        out of a db and the decides whether to send it or not based on certain criteria and then makes calls to a fake
    cfmail account, web service and twilio action for voice (note: I've used Twilio here just to house the cfc needed in the
    demo. This is not actual Twilio code nor will it actually do anything.)<br/>

    </body>

</html>
